<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="style.css">
  <script src="vue.min.js"></script>
  <title>grand poliv</title>
</head>
<body>
<div id="quiz">
  <div class="container">
    <div class="quiz-top">
      <div class="quiz-icon">
        <img src="./img/rain_click.png" alt="" class="quiz-icon-image">
        <div class="quiz-icon-badge">
          <img src="img/Gift%20Icon.svg" alt="">
        </div>
      </div>

      <div class="quiz-top-text">
        <div class="quiz-top-text-title">
          Укажите необходимый для вас набор требований
        </div>
        <div class="quiz-top-text-subtitle">
          И получите сертификат на бесплатный датчик дождя Rain-Click™
        </div>
      </div>
    </div>

    <div class="quiz-body">
      <div class="quiz-body-text">
        {{ !plane ? getActiveStage.text : 'Загрузите план участка' }}
      </div>

      <div class="quiz-progress">
        <div class="quiz-progress-active" :style="`width: ${getActiveStage.percents}%;`">
          <div class="quiz-progress-active-label">{{ getActiveStage.percents }}%</div>
        </div>
      </div>

      <div v-if="getActiveStage.type === 0 && !plane" class="quiz-answers">
        <div class="quiz-answers-cards" :style="`grid-template-columns: repeat(${getActiveStage.answers.length}, minmax(0, 1fr));`">
          <div v-for="(item, _idx) of getActiveStage.answers" :key="_idx" @click="toNextStep(_idx)" class="quiz-answers-card">
            <img :src="`img/${item.image}`" alt="">
            <div class="quiz-answers-card-text">{{ item.title }}</div>
          </div>
      </div>
      <div class="quiz-answers-hint">
          <div class="quiz-answers-hint-head">
            <div class="quiz-answers-hint-avatar">
              <img src="img/avatar.png" alt="">
            </div>

            <div class="quiz-answers-hint-text">
              <div class="quiz-answers-hint-text-name">Андрей</div>
              <div class="quiz-answers-hint-text-position">Монтажник, консультант</div>
            </div>
          </div>
          <div class="quiz-answers-hint-wrap">
            <img src="img/bubble.svg" alt="" class="quiz-answers-hint-svg">
            <div class="quiz-answers-hint-message">
              {{ getActiveStage.description }}
            </div>

          </div>
    </div>
      <div class="quiz-hint-mobile">
        <div class="quiz-hint-mobile-avatar">
          <img src="img/avatar.png" alt="">
        </div>
        <div class="quiz-hint-mobile-text">
          <div class="quiz-hint-mobile-person">
            Андрей <span>Монтажник, консультант</span>
          </div>
          <div class="quiz-hint-mobile-text">
            {{ getActiveStage.description }}
          </div>
        </div>
      </div>
    </div>
      <div v-if="getActiveStage.type === 1 && !plane" class="quiz-answers-one">
        <div class="quiz-answers-cards" :style="`grid-template-columns: repeat(3, minmax(0, 1fr));`">
          <div v-for="(item, _idx) of getActiveStage.answers" :key="_idx" @click="toNextStep(_idx)" class="quiz-answers-card">
            <img :src="`img/${item.image}`" alt="">
            <div class="quiz-answers-card-text">{{ item.title }}</div>
          </div>
        </div>

        <div class="quiz-answers-hint">
          <div class="quiz-answers-hint-head">
            <div class="quiz-answers-hint-avatar">
              <img src="img/avatar.png" alt="">
            </div>

            <div class="quiz-answers-hint-text">
              <div class="quiz-answers-hint-text-name">Андрей</div>
              <div class="quiz-answers-hint-text-position">Монтажник, консультант</div>
            </div>
          </div>
          <div class="quiz-answers-hint-wrap">
            <img src="img/bubble.svg" alt="" class="quiz-answers-hint-svg">
            <div class="quiz-answers-hint-message">
              {{ getActiveStage.description }}
            </div>

          </div>
        </div>
        <div class="quiz-hint-mobile">
          <div class="quiz-hint-mobile-avatar">
            <img src="img/avatar.png" alt="">
          </div>
          <div class="quiz-hint-mobile-text">
            <div class="quiz-hint-mobile-person">
              Андрей <span>Монтажник, консультант</span>
            </div>
            <div class="quiz-hint-mobile-text">
              {{ getActiveStage.description }}
            </div>
          </div>
        </div>
      </div>
      <div v-if="getActiveStage.type === 2 && !plane" class="quiz-answers-two">
        <div class="quiz-answers-cards" :style="`grid-template-columns: repeat(2, minmax(0, 1fr));`">
          <div v-for="(item, _idx) of getActiveStage.answers" :key="_idx" @click="toNextStepTwo(_idx)" class="quiz-answers-card">
            <img :src="`img/${item.image}`" alt="">
            <div class="quiz-answers-card-text">{{ item.title }}</div>
          </div>
        </div>

        <div class="quiz-answers-hint">
          <div class="quiz-answers-hint-head">
            <div class="quiz-answers-hint-avatar">
              <img src="img/avatar.png" alt="">
            </div>

            <div class="quiz-answers-hint-text">
              <div class="quiz-answers-hint-text-name">Андрей</div>
              <div class="quiz-answers-hint-text-position">Монтажник, консультант</div>
            </div>
          </div>
          <div class="quiz-answers-hint-wrap">
            <img src="img/bubble.svg" alt="" class="quiz-answers-hint-svg">
            <div class="quiz-answers-hint-message">
              {{ getActiveStage.description }}
            </div>

          </div>
        </div>
        <div class="quiz-hint-mobile">
          <div class="quiz-hint-mobile-avatar">
            <img src="img/avatar.png" alt="">
          </div>
          <div class="quiz-hint-mobile-text">
            <div class="quiz-hint-mobile-person">
              Андрей <span>Монтажник, консультант</span>
            </div>
            <div class="quiz-hint-mobile-text">
              {{ getActiveStage.description }}
            </div>
          </div>
        </div>
      </div>
      <div v-if="plane" class="quiz-plane">
        <div class="quiz-file-label">
          <div class="quiz-file-label-content">
            <img src="img/upload.svg" alt="">
            <div class="quiz-file-label-text">
              Нажмите, чтобы загрузить файлы
              или перетяните их из папки в это поле
            </div>
            <div class="quiz-file-label-subtext">
              до 10 файлов не более 25 МБ
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

<script src="quiz.js"></script>
</body>
</html>
