@font-face {
    font-family: "Gerbera";
    font-style: normal;
    font-weight: 400;
    src: url("font/Gerbera.woff2");
}
@font-face {
    font-family: "Gerbera";
    font-style: normal;
    font-weight: 300;
    src: url("font/Gerbera-Light.woff2");
}
@font-face {
    font-family: "Gerbera";
    font-style: normal;
    font-weight: 500;
    src: url("font/Gerbera-Medium.woff2");
}
@font-face {
    font-family: "Gerbera";
    font-style: normal;
    font-weight: 700;
    url("font/Gerbera-Bold.woff2");
}
@font-face {
    font-family: "Gerbera";
    font-style: normal;
    font-weight: 900;
    src: url("font/Gerbera-Black.woff2");
}
* {
    box-sizing: border-box;
    margin: 0;
    font-family: Gerbera, normal;
}
.container {
    width: 1512px;
    margin: 0 auto;
    border-radius: 16px;
    background: #f8f8f8;
    padding: 60px 108px;
}

/*top*/
.quiz-top {
    display: flex;
    align-items: center;
    margin-bottom: 48px;
}
.quiz-icon {
    position: relative;
    width: 120px;
    height: 120px;
    margin-right: 24px;
}
.quiz-icon-badge {
    position: absolute;
    right: 0;
    top: 0;
    background: #EE6D34;
    border-radius: 50%;
    border: 3px solid #f8f8f8;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quiz-icon-image {
    border-radius: 50%;
}
.quiz-top-text-title {
    font-size: 36px;
    font-weight: 500;
    color: #222222;
    margin-bottom: 8px;
}

.quiz-top-text-subtitle {
    font-size: 24px;
    font-weight: 300;
    color: #727272;
}
.quiz-top-mobile-subtitle {
    display: none;
}
/*top-end*/

/*body*/
.quiz-body {
    position: relative;
}
.quiz-body-text {
    font-size: 48px;
    font-weight: 500;
    color: #222222;
    margin-bottom: 55px;
}
.quiz-progress-active-label {
    position: absolute;
    bottom: 100%;
    right: -10px;
    color: #EE6D34;
}
.quiz-answers,
.quiz-answers-one,
.quiz-answers-three {
    display: flex;
    justify-content: space-between;
}

.quiz-answers-three>.quiz-answers-cards {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.quiz-answers-cards {
    display: grid;
    gap: 12px;
    width: 66.6667%;
}
.quiz-answers-cards>.quiz-answers-card {
    border-radius: 16px;
    background: #ffffff;
    box-shadow: 0 2px 4px #00000012;
    cursor: pointer;
    border: 1px solid transparent;
}
.quiz-answers-card:hover {
    border-style: solid;
    outline: 1px solid #EE6D34A3;
    box-shadow: 0px 12px 16px 0px #0000000F;
}
.quiz-answers-card>img {
    width: 100%;
    border-radius: 16px 16px 0 0;
}

.quiz-answers-two {
    display: flex;
    justify-content: space-between;
}
.quiz-answers-two>.quiz-answers-cards {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.quiz-answers-two>.quiz-answers-cards>.quiz-answers-card {
    display: flex;
    align-items: center;
    padding: 0 38px;
}

.quiz-answers-two>.quiz-answers-cards>.quiz-answers-card>img {
    width: 48px;
    height: 48px;
    align-self: center;
}
.quiz-answers-card-text {
    padding: 32px;
    line-height: 24px;
    color: #1589c9;
}
.quiz-answers-card-text>span {
    border-bottom: 1px dashed rgba(21,137,201,.4);
}
.quiz-answers-card-text>span:hover {
    border-color: #0c689b;
}
.quiz-answers-hint {
    width: 306px;
}
.quiz-hint-mobile {
    display: none;
}
.quiz-answers-hint-head {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}
.quiz-answers-hint-avatar {
    margin-right: 15px;
    position: relative;
}
.quiz-circle {
    position: absolute;
    left: 90%;
    bottom: 5px;
}
.quiz-circle>circle {
    margin: 0;
}
.quiz-answers-hint-text-name {
    font-size: 18px;
    color: #222222;
    font-weight: 500;
}
.quiz-answers-hint-text-position {
    font-size: 14px;
    color: #727272;
}
.quiz-answers-hint-message {
    color: #222222;
    line-height: 24px;
    font-weight: 400;
    padding: 24px 24px 32px 24px;
    border-radius: 16px;
    border: 1px solid #d8d8d8;
    z-index: 2;
    background: #f8f8f8;
}
.quiz-answers-hint-wrap {
    position: relative;
    z-index: 2;
}
.quiz-answers-hint-svg {
    z-index: -10;
    position: absolute;
    top: -10px;
    left: 15px;
}
.quiz-answers-hint-wrap:after {
    content: ' ';
    position: absolute;
    width: 22px;
    height: 10px;
    left: 16px;
    top: 0;
    background: #f8f8f8;
}
.quiz-plane {
    display: flex;
    justify-content: space-between;
}
.quiz-file-label {
    width: 966px;
    height: 418px;
    border: 1px dashed #1589C9;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quiz-file-label-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.quiz-file-label-content>img {
    margin: 0 auto 16px;
}
.quiz-file-label-text {
    color: #727272;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 16px;
}
.quiz-file-label-subtext {
    color: #999999;
    font-size: 13px;
    font-weight: 400;
}
.quiz-final {
    display: flex;
    justify-content: space-between;
}
.quiz-final-form {
    background: #ffffff;
    border-radius: 16px;
    padding: 32px 48px 48px;
    box-shadow: 0 16px 16px 0 #00000012;
    width: 856px;
}
.quiz-final-form>.form-row {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 24px;
    margin-bottom: 24px;
}
.form-col {
    width: 100%;
    border: 1px solid #E8E8E8;
    border-radius: 16px;
    background: #fbfbfb;
    height: 72px;
    display: flex;
    align-items: center;
    position: relative;
}
.form-col>input {
    background: none;
    border: none;
    width: 100%;
}
.form-col>input:focus {
    outline: none;
}
.form-col>img {
    margin: 0 14px;
}
.form-col>.placeholder {
    position: absolute;
    color: #727272;
    left: 20%;
    top: 50%;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}
.form-col>.focus {
    transfrom: translateY(-99%);
    top: 10%;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}
.form-col>.unfocus {
    transform: translateY(-50%);
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}
.form-col:focus {

}
.quiz-btn {
    width: 100%;
}
.quiz-btn>span {
    display: flex;
    justify-content: center;
    align-items: center;
}
.quiz-btn>span>svg {
    margin-right: 16px;
}
/*body-end*/

/*footer*/
.quiz-footer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    transform: translateY(150%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.quiz-footer-back {
    display: flex;
    align-items: center;
    color: #999999;
    text-decoration: underline dotted;
    text-underline-offset: 8px;
    background: none;
    border: none;
    cursor: pointer;
}
.quiz-footer-skip {
    display: flex;
    align-items: center;
    color: #1589C9;
    text-decoration: underline dotted;
    text-underline-offset: 8px;
    background: none;
    border: none;
    cursor: pointer;
}
.quiz-politic {
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    color: #cecece;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%,250%);
}
/*footer-end*/

@media screen and (max-width: 1512px) {
    .container {
        width: 1440px;
        padding: 72px 72px 36px;
    }
}

@media screen and (max-width: 1440px) {
    .container {
        width: 1024px;
        padding: 39px 43px 63px;
    }
    .quiz-icon-image {
        width: 100px;
        height: 100px;
    }
    .quiz-icon-badge {
        width: 36px;
        height: 36px;
        padding: 6px;
    }
    .quiz-top-text-title {
        font-size: 28px;
        margin-bottom: 12px;
    }
    .quiz-answers-three>.quiz-answers-cards {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .quiz-top-text-subtitle {
        font-size: 20px;
    }
    .quiz-body-text {
        font-size: 36px;
    }
    .quiz-answers,
    .quiz-answers-one,
    .quiz-answers-two,
    .quiz-answers-three,
    .quiz-plane,
    .quiz-final {
        flex-direction: column-reverse;
    }
    .quiz-file-label,
    .quiz-final-form
    {
        width: 100%;
    }
    .quiz-answers-cards {
        margin: 0;
    }
    .quiz-answers-card {
        width: 100%;
        margin: 0;
    }
    .quiz-answers-card>img {
        width: 100%;
    }
    .quiz-answers-hint {
        display: none;
    }
    .quiz-hint-mobile {
        display: flex;
        margin-bottom: 16px;
        border: 1px solid #d8d8d8;
        border-radius: 16px 16px 16px 0px;
    }
    .quiz-hint-mobile-avatar {
        margin: 0 15px 15px 8px;
        position: relative;
    }
    .quiz-hint-mobile-person {
        font-size: 16px;
        color: #222222;
        font-weight: 500;
        margin: 16px 12px 6px 0;
    }
    .quiz-hint-mobile-person>span {
        font-size: 13px;
        font-weight: 400;
        color: #727272;

    }
    .quiz-hint-mobile-text {
        padding: 0 ;
    }
    .quiz-answers-cards {
        width: 100%;
    }
    .quiz-answers-card-text {
        padding: 24px;
    }
}

@media screen and (max-width: 1024px) {
    .container {
        width: 696px;
        padding: 38px 36px 73px;
    }
    .quiz-top {
        margin-bottom: 0;
    }
    .quiz-top-text-title {
        font-size: 28px;
        line-height: 36px;
    }
    .quiz-top-text-subtitle {
        display: none;
    }
    .quiz-top-mobile-subtitle {
        display: block;
        font-size: 19px;
        font-weight: 300;
        color: #727272;
        margin-bottom: 18px;
    }
    .quiz-icon {
        width: 78px;
        height: 78px;
    }
    .quiz-top-text {
        width: calc(100% - 78px);
    }
    .quiz-icon-image {
        width: 100%;
        height: 100%;
    }
    .quiz-icon-badge {
        width: 28px;
        height: 28px;
        padding: 4px;
    }
    .quiz-body-text {
        line-height: 46px;
    }
    .form__label {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 516px;
        padding: 36px 36px 73px;
    }
    .quiz-hint-mobile-avatar {
        margin: 15px 0 15px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35%;
    }
    .quiz-circle {
        bottom: 10%;
        left: 80%;
    }
    .quiz-hint-mobile-text {
        margin: 10px 0;
    }
    .quiz-top-text-title {
        font-size: 24px;
    }
    .quiz-top-mobile-subtitle {
        font-size: 18px;
    }
    .quiz-body-text {
        font-size: 26px;
        margin-bottom: 32px;
    }
    .quiz-answers-card-text {
        font-size: 12px;
        padding: 20px;
    }
    .quiz-answers-two>.quiz-answers-cards {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .quiz-answers-two>.quiz-answers-cards>.quiz-answers-card {
        padding: 0 10px;
    }

    .quiz-answers-two>.quiz-answers-cards>.quiz-answers-card>.quiz-answers-card-text {
        padding-right: 0;
    }
    .quiz-final-form>.form-row {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

@media screen and (max-width: 600px) {
    .container {
        width: 100%;
    }
    .quiz-top-text-title {
        font-size: 18px;
        line-height: 23px;
    }
    .quiz-top-mobile-subtitle {
        font-size: 14px;
    }
    .quiz-body-text {
        font-size: 24px;
    }
    .quiz-hint-mobile-text {
        font-size: 13px;
    }
}
/*animation*/

.fade-enter-active {
    transition: opacity 1s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
    opacity: 0;
}



:root {
    --colour1: rgba(255,255,255,.15);
    --colour2: #EE6D34;
    --speed: 4s;
}
@keyframes slide {
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: -113px;
    }
}
.quiz-progress {
    width: 100%;
    height: 8px;
    background: #ededed;
    border-radius: 8px;
    margin-bottom: 32px;
}
.quiz-progress-bar {
    position: relative;
    transition-property: width;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    min-height: 8px;
    min-width: 10px;
    height: 100%;
    border-radius: 8px;
    box-shadow: 0px 10px 13px -6px rgba(44, 62, 80, 1);
    background-color: var(--colour2);
    background-image: repeating-linear-gradient(
            45deg,
            transparent,
            transparent 10px,
            var(--colour1) 10px,
            var(--colour1) 20px
    );
    animation: slide var(--speed) linear infinite;
    will-change: background-position;
}
